<!doctype html>
<html>
<head>
<meta charset="utf-8">
        
<link id="ccstyleTheme" href="css/styles-dark.css" rel="stylesheet" type="text/css" />
<link id="hostStyle" rel="stylesheet" href="css/styles.css"/>

<title></title>
</head>

<body require-nodejs class="hostElt">

    <div id="content">        
        
        <div>                
            <button id="btn_test" class="btn-big ccstyle hostFontSize">Call ExtendScript</button>                
        </div>   
        
    </div>
    
    <!-- These are debugging shortcuts.  Class debuglink items only appear in debug mode  -->
    <span class="debuglink" id="reload">Reload</span>
    <span class="debuglink" id="debug">Debug</span>
    <span class="debuglink" id="sources">Sources</span>
    
    <script src="js/libs/CSInterface.js"></script>
    <script src="js/libs/jquery-2.0.2.min.js"></script>

    <script src="js/themecolors.js"></script>
    <script src="js/main.js"></script>
       
</body>
</html>
